body{
font-family:Arial, Helvetica, sans-serif,"sans serif";
font-size: 100%;
max-width: 1024px;
width: 95%;
margin: 2em auto;
border: 3px solid steelblue;
box-shadow: 0px 0px 2cap black;
}
header{
    background-image: linear-gradient(to bottom,white 0%, lightsteelblue 100%);
    padding: 1em 30px;
    text-indent: 5%;
    border-bottom: 2px solid steelblue;
}
header img{
    float: left;
}
header h2 {
    color:steelblue;
    font-style: italic;
    text-shadow: 2px 2px 2px steelblue;
    font-size: 2.5em;
    margin-top: 0%;
    margin-bottom: 0%;
}
header h3{
    margin-top: .5%;
    font-size: 1.5em;
}

h2{font-size: 130%;
}
h3{font-size: 110%;}
h1{font-size: 160%;
    color: #ff8200;
}
section{
    padding: 1em 3.3333% 1em 3.3333%;}
a:link,a:visited{
    color: maroon;
}
a:focus,a:hover{
    color: steelblue;
}
aside a:link, aside a:visited{
    color: steelblue;
    font-weight: bold;
}
aside a:hover,aside a:focus{
    color: maroon;
}
aside {
    padding-left: 2%;
}
li{
    line-height: 25px;
}
section{
    padding: 1.5625em 3.3333% 0 3.3333%;
}
footer{
    margin: 0%;
    background-color: steelblue;
    border: 3px solid steelblue;
    font-size: 80%;
   
}
#copyright{
    font-size: 80%;
    color: white;
    text-align: center;
}






