body {
    background-image: url("../images/sunset.png");
    background-size: cover;
}

header h1 {
    color: white;
    text-shadow: -1px -1px 0 black,  
                  1px -1px 0 black,
                  -1px 1px 0 black,
                  1px 1px 0 black;
    font-size: 3em;
    text-align: center;
}

img {
    border: 3px solid black;
    border-radius: 20px;
    height: 150px;
    width: 150px;
    transition: width 0.5s ease-out, height 0.5s ease-out;
}

img:hover {
    width: 400px;
    height: 400px;
}

.current {
    background-color: rgb(255, 130, 0);
}


main{
    background-size: cover;
    
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px;
}
h2{
    text-align: center;
    color: white; 
    text-shadow: -1px -1px 0 black,  
                  1px -1px 0 black,
                  -1px 1px 0 black,
                  1px 1px 0 black;
    font-size: xx-large;
}

section {
    
    margin: 3px;
    padding: 3px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.123);
    justify-content: center;
    align-items: center;
    
    
}

.yt_video {
    margin: 10px;
}

.moving_text {
    color: aliceblue;
    font-weight: bolder;
    font-size: 3em;
    letter-spacing: 10px;
    font-family: monospace;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(29), cursor .3s step-end infinite alternate;
}

a {
    text-decoration: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    color: black;
    padding: 4px;
}


.packing_links a:hover {
    font-size: 250%;
    font-weight: bolder;
}
.packing_links ul li {
    margin-top: 1.5em;
   list-style: none;
}
section ul li{
    font-weight: bolder;
    
}
section ul li :hover{
    color: #ff8200;
}

.nav_menu ul {
    display: flex;
    justify-content: space-evenly;
    font-family: Georgia, Times, 'Times New Roman', serif;
    padding: 15px;
    text-align: center;
}

.nav_menu a:hover {
    font-size: 300%;
    font-weight: bolder;
}

.nav_menu ul li {
    list-style: none;
    display: inline-block;
}

li a {
    color: white;
    text-shadow: -1px -1px 0 black,  
                  1px -1px 0 black,
                  -1px 1px 0 black,
                  1px 1px 0 black;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    clear: both;
    margin: 0%;
    font-size: 80%;
}

#copyright {
    font-size: 80%;
    font-weight: bolder;
    color: white;
    text-align: center;
}
.packing li{
    font-size: 30px;
    color: white; 
    text-shadow: -1px -1px 0 black,  
                  1px -1px 0 black,
                  -1px 1px 0 black,
                  1px 1px 0 black;
}

 p strong{
    color: white; 
    text-shadow: -1px -1px 0 black,  
                  1px -1px 0 black,
                  -1px 1px 0 black,
                  1px 1px 0 black;
    font-size: 30px;
}


.packing p {
    margin-bottom: 0;
}
@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    ul{
        display: flex;
        flex-direction: column;
    }
    .nav_menu ul li {
        margin-top: 25px;
    }
    .nav_menu a:hover {
        font-size: 300%;
        font-weight: bolder;
    }
    .packing li{
        font-size: larger;
        
    }
    section ul li{
        margin-top: 1em;

    }
    section ul li a{
        color: #ff8200;
        background-color: transparent;
     }
     section ul li a:hover{
        color: rgb(255, 230, 0);
     }
  
     p strong{
        font-size: 30px;
    }
    .container .moving_text{
        width: 100px;
        visibility: hidden;
    }
    .yt_video {
        
        height: fit-content;
        width: 335px;
    }
    img a:hover {
        width: 150px;
        height: 150px;
    }
    section{
        gap: 0;
    }
    
}
